doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/foundation/css/normalize.css')
		link(rel='stylesheet', href='/foundation/css/foundation.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', href='/foundation/js/vendor/custom.modernizr.js')
		style
			html{
				background: url('#{user.profile_background_image_url}');
			}
			body{
				background:transparent;
			}
	body
		nav.top-bar
			ul.title-area
				li.name
					h1
						a(href='/') TwitOptic
				li.toggle-topbar.menu-icon
					a(href='#')
						span Menu

			section.top-bar-section
				ul.right
					if user != null
						li.divider
						li
							a(href='/settings')
								img.profile-image(src='#{user.profile_image_url}')
					li.divider
					li.active
						a(href='/feed') Feed
					li.divider
					li
						a(href='/feed/image') Image Feed
					li.divider
					li
						a(href='/feed/video') Video Feed
					li.divider
					li
						a(href='/oauth/logout') Logout

		block content

		script(type='text/javascript', src='/foundation/js/vendor/jquery.js')
		script(type='text/javascript', src='/foundation/js/foundation.min.js')
		script
			$(document).foundation();